*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:antiquewhite;
    

}
h1{
    color:blue;
    text-align: center;
    font-style: italic;

}
main{
    gap: 20px;
}
footer h2{
    margin-top:auto;
    text-align: center;
    padding: 20px;
}
